block content
    div.header
      div.header-wrapper 
        div(class='logo', onClick='window.location.replace(`/`)') WatchFlix 
        div.nav
          a(href='/', class='custom-nav-link') Home
          a(href='/movies', class='custom-nav-link') Movies
          a(href='/about', class='custom-nav-link') About
          a(href='/create', class='custom-nav-link-res') Create
      div.nav-res
          a(href='/', class='custom-nav-link-res') Home
          a(href='/movies', class='custom-nav-link-res') Movies
          a(href='/about', class='custom-nav-link-res') About
          a(href='/create', class='custom-nav-link-res') Create
          