extends layout 
block content
    include header
        div(id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel")
          div.carousel-inner
            div(class='item active')
              img(src='https://d2kektcjb0ajja.cloudfront.net/images/posts/feature_images/000/000/072/large-1466557422-feature.jpg?1466557422', alt="First slide", class='d-block w-100')
            div(class='item')
              img(src='https://pbs.twimg.com/media/ExwdDtPXAAE8EHA?format=jpg&name=large', alt="Second slide", class='d-block w-100')
            div(class='item')
              img(src='https://c4.wallpaperflare.com/wallpaper/996/743/625/pascal-blanche-dune-movie-dune-series-artwork-science-fiction-hd-wallpaper-preview.jpg', alt="First slide", class='d-block w-100')
        div.content-wrapper 
          div.web-title Unlimited movies, TV shows, and more.
          div.web-sub-title Movies that you love and watch.
        div.res-content-wrapper 
          div.res-title Unlimited movies, TV shows, and more.
          div.res-sub-title Movies that you love and watch.
           